page-tab-clip {
	.background-clip {
	    background-image: url('../assets/wallpaper/clips.jpg');
	}

	.icon-menu{
		font-size: 2em;
	}

	.icon-chat{
		font-size: 2em;
	}

	.texto-centralizado{
		text-align: center;
	}

	.div-sua-avaliacao{
		margin: 0 0 0 0;
	}

	
}	
