page-tab-clip {
	.background-clip {
	    background-image: url('../assets/wallpaper/clips.jpg');
	}

	.segment{
		background-color: #F08080;
		margin: 1em 0 0 0;
	}

	.conteudo{
	  //display: none;
	}

	.texto-centralizado{
		text-align: center;
	}

	.div-sua-avaliacao{
		margin: 0 0 0 0;
	}

	
}	
