<ion-header>
  <ion-navbar color="menu">
    
    <ion-buttons left>
        <ion-icon>
          <img src="./assets/icon/heart_icon.png">
        </ion-icon>
    </ion-buttons>
    <ion-title>
      <p>{{titulo}}</p>
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding class="background-clips">
  <ion-list *ngFor="let clip of clipList">
    
    <ion-item color="lista">
      <a class="link-sem-decoracao" href="#" 
         (click)="VisualizarClipSelecionado(clip.id_clip)">
        <div class="div-usuario">
          <ion-avatar class="imagem-post">
            <img src="{{clip.img_usuario}}">
          </ion-avatar>
          <h2>{{clip.nick_usuario}}</h2>
          <p>{{clip.data_clip}}</p>
        </div>
        <hr>
        <div>
          <ion-thumbnail class="imagem-post">
            <img class="imagem-aa" src="{{clip.img_clip}}">
          </ion-thumbnail>
          <h2>{{clip.titulo_clip}}</h2>
          <p>{{clip.subtitulo_clip.replace("#", " ")}}</p>
          <p>
            {{clip.visualizacoes_clip}} 
            <span *ngIf="clip.visualizacoes_clip == 1">Visualização</span>
            <span *ngIf="clip.visualizacoes_clip != 1">Visualizações</span>
          </p>
          <p> 
            {{clip.nota_clip}}
            <span *ngIf="clip.nota_clip == 1">Estrela</span>
            <span *ngIf="clip.nota_clip != 1">Estrelas</span>
          </p>
        </div>
      </a>
    </ion-item>
    
  </ion-list>
</ion-content>
