page-clipe {
	.background-clip {
	    background-image: url('../assets/wallpaper/clips.png');
	}

	@media screen and (min-width: 800px) {
		.video-clip{
			width: 40%;
			height: 30em;
		    float: left;
		}

		.card-content{
			width: 60%;
			float: right;
			padding: 0 5% 0 5%;
		}
	}

}	
