page-home {
	.background-clips {
	    background-image: url('../assets/wallpaper/clips.jpg');
	}

	.background-transparente { 
		border-color: rgba(0, 0, 0, 0);
		background-color: rgba(0, 0, 0, 0);
		color: white; 
	} 

	.link-sem-decoracao:link { 
		text-decoration:none; 
		color: white;
	}

	.link-sem-decoracao:visited {
	    text-decoration:none; 
		color: white;
	} 

	.div-usuario { 
		margin: 0 0 0.5em 0;
	}

	.imagem-post { 
		float: left;
		margin-right: 1em;
	} 

	.imagem-aa { 
		min-width: 4.5em;
		min-height: 4.5em;
	} 

	.imagem-usuario-post { 
		float: left;
		margin-right: 1em;
	} 
}	
