page-clips {
	.background-clips {
	    background-image: url('../assets/wallpaper/clips.jpg');
	}

	.background-transparente { 
		border-color: rgba(0, 0, 0, 0);
		background-color: rgba(0, 0, 0, 0);
		color: white; 
	} 

	.link-sem-decoracao:link { 
		text-decoration:none; 
		color: white;
	}

	.link-sem-decoracao:visited {
	    text-decoration:none; 
		color: white;
	} 

	.subtitulo-lista {
	    padding: 0 0 0.5em 0
	}

	.icon-lista {
	    padding: 0 0.5em 0 0
	}
}	
